# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
UserSettings/

# Visual Studio / VS Code
.vs/
.vscode/
*.csproj
*.sln
*.user
*.userprefs

# Builds
[Bb]uild/
[Bb]uilds/

# OS
.DS_Store
Thumbs.db